* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.menu-list {
  height: 100%;
  display: flex;
  justify-content: center;
}

.menu-button {
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 10px 10px 13px 10px;
}

.link {
  text-decoration: none;
  color: #4a4a4a;
}

.link:hover {
  color: #3CDBC0
}

.main {
  background-color: #3CDBC0;
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.claim-box {
  width: 100px;
}

.claim {
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
}
