* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  width: 100%;
  height: 100%;
}

.header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  /* position: fixed; */
  align-items: center;
  margin-top: 10px;
}

.menu-list {
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.menu-button {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #4a4a4a;
  margin: 10px 10px 13px 10px;
}

.main {
  background-color: #3CDBC0;
  width: 100%;
  height: 100vh;
}

.claim-box {
  transform: translateY(40%);
}

.claim {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}
